$fg: hsl(250, 6%, 40%);
$bg: hsl(250, 6%, 15%);
$bg2: hsl(250, 6%, 18%);

* {
  margin: 0;
  padding: 0;
  font-family: "Cantarell", sans-serif;
}

body {
  background-color: $bg;
  color: $fg;
}

h1 {
  border-bottom: 1px solid $fg;
  padding: 20px;
}

.outer {
  margin: 20px;
  border: 1px solid $fg;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
}

label {
  border: 1px solid $fg;
  min-height: 36px;
  line-height: 36px;
  padding: 0px 12px;
  border-radius: 6px;
  &:hover {
    background-color: $bg2;
  }
}

input {
  display: none;
}

.input {
  min-width: 200px;
  background-color: $bg2;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 10px;
}

.input span {
  color: yellowgreen;
}
